@model List<AlienspaceBL.Peliculas>
@{
    ViewBag.Title = "Index";
}

<h2>CARTELRA CINEMATOGRAFICA</h2>


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><strong>Codigo</strong></th>
                <th><strong>Descripcion</strong></th>
                <th><strong>Categoria</strong></th>
                <th><strong>Poster</strong></th>
            </tr>
        </thead>
        @foreach(var peliculas in Model.OrderBy(o => o.Pelicula))
        {
            <tr>
                <td>@peliculas.Id</td>
                <td>@peliculas.Pelicula</td>
                <td>@peliculas.Categoria.Pelicula</td> 
                <td><img src="@(ViewBag.adminWebSiteUrl + peliculas.UrlImagen)" alt="Alternate Text" /></td>
            </tr>
        }
    </table>




