/*Variables*/

:root {
    --rojo: #E50914;
	--fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fondo);
    font-family: 'Oswald', sans-serif;
}

.container {
    margin: auto;
    width: 90%;
}

header {
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: var(--rojo);
    font-size: 50px;
}

nav a {
    text-decoration: none;
    color: floralwhite;
    margin-right: 20px;
}

header nav a:hover, header nav a.active {
    color: cadetblue;
}

header nav a.active {
    font-size: 20px;
}

/*Main Movie*/

.main-movie {
    font-size: 16px;
    min-height: 40.62em; /*650px equivalentes*/
    color: white;
    background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0,.50) 100%), url("../Imagenes/ima4.jpg");
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}

.main-movie .container {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.main-movie .title {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.main-movie .description {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25px;
}

.main-movie .button {
    background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.main-movie .button i {
    margin-right: 1.25em;
 }

.main-movie .button:hover {
   background: #fff;
   color: cadetblue;
}

/*Responsive design*/
@media screen and (max-width: 800px) {
	header .logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .container {
		flex-direction: column;
		text-align: center;
	}

	.main-movie {
		font-size: 14px;
	}

	.main-movie .description {
		max-width: 100%;
	}
}