
@{
    ViewBag.Title = "Index";
}

<h2>Alienspace - Sitio de Administración</h2>

<div>
    <img src="~/Imagenes/star_wars.png" alt="Alienspace ~ Stream" style="width: 100%; max-width: 600px;" />
</div>